body{ background-color: #242223;}


/* nav */


.grid{
    display: grid;
    grid-template-columns:repeat(4,25%);
    row-gap: 20px;
    grid-template-rows:600px 600px 600px 600px 600px 400px;
    background-color: #151415;
    /* justify-content: stretch; */
}


.grid_div{
    background-color: #070808;
    color: #a21567;
    text-align: center;
    
}
.home_name{
    grid-column-start: 1;
    grid-column-end: 3;
    
   

}

.home_picture{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #070808;
}
.home_picture img{
    width: 500px;
    height: 500px;
    margin-bottom: 100px;
    padding-right: 50px;
    margin-left: 0%;
}

.home_name h4{
    color:#d6b1b1;
    font-size: 35px;
    margin: 1px, 1px;
}
.home_name h4 span{
    color: #a21567;
   
}
.home_name h2{
    color: #ab237e;
    font-size: 60px;
}
.home_name p{

   
    padding-top: 100px;
    
}

.btn1{
    background-color:#a21567;
    text-decoration: none;
    color:#f3bbe0;
    border: 2px solid #a21567;
    border-radius: 20px;
    padding: 10px;
    margin-left: 30px;
    transition: 0.5s;
}
.btn1:hover{
    background-color: transparent;
    border: 4px solid #a21567 ;
    color: #650757;
    padding:10 20px;
}


/* about */
.section_tiltle{
    color:#a21567;
    background-color:#070808;
   
    padding-left: 30px;
    font-size:30px;
}
.about_text{
    grid-column-start: 1;
    grid-column-end: 3;
    color: antiquewhite;
    text-align: left;
}
.about_text p{
    padding-top: 100px;
    padding-left: 120px;
    font-size: 20px;
}
.about_image{

    grid-column-start: 3;
    grid-column-end: 5;
}
.about_image img{
    margin-top: 100px;
    width:400px;
    height: 500px;
}
.my_name{

  
    font-size: 40px;
    color: #a21567;

}

/* .soft_skills{
    grid-column-start: 1;
    grid-column-end: 3;

}
.soft_skill_image{
    grid-column-start: 3;
    grid-column-end: 5;

}


.tec_skills{
    grid-column-start: 1;
    grid-column-end: 3;

}

.tec_skills_image{
    grid-column-start: 3;
    grid-column-end: 5;


} */

/* ---------------education----------------- */

.education_text{

    grid-column-start: 1;
    grid-column-end: 3;
    color: antiquewhite;
    text-align: left;

}

.education_image{

    grid-column-start: 3;
    grid-column-end: 5; 
    color: antiquewhite;
    text-align: center; 
}

.education_image img{
    margin-top: 00px;
    width:500px;
    height: 600px;
}

.education_text p{
    padding-top: 100px;
    padding-left: 120px;
    font-size: 20px;
}

    .my_uni{

  
        font-size: 25px;
        color: #a21567;
    
    }
    .skill{
        grid-column-start: 1;
    grid-column-end: 5; 

    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows:100px 700px; 
    background-color:#000;
    column-gap: 40px;

    }
  
  .skill_header{
    grid-column-start: 1;
    grid-column-end: 7;
    background-color:#000;
    color:#650757;
    font-size: 40px;
    font-weight:bold;
    padding-top: 0px;
    padding-left: 3px;
  }
  .card1{
  grid-column-start: 1;
  grid-column-end: 3;
    width: 80%;
    height: 450px; 
    margin: 0px 120px;
    border: #650757 solid 0px;
    background-color:#833161;
    box-shadow: 0 8px 16px 0 #ea96c8;
    box-shadow: 0 8px 16px 0 rgb(228, 149, 216);
    color: black;
    position: relative;
    margin-left: 220px;    

  }
   .card1 img{

    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 3px;
    left: 130px;
   }

   .card2{
    grid-column-start: 3;
    grid-column-end: 5;
      /* width: 80%;*/
      height: 450px; 
      margin: 0px 120px;
      border: #650757 solid 0px;
      background-color:#833161;
      box-shadow: 0 8px 16px 0 #ea96c8;
      box-shadow: 0 8px 16px 0 rgb(228, 149, 216);
      color: black;
      position: relative;}

   .card2 img{

    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 3px;
    left: 150px;
   }

   .card1 h3,.card2 h3{
    font-size: 25px;
   }

   .card1 ul li ,.card2 ul li{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
   }

   



   /* project */
   .project{
    grid-column-start: 1;
    grid-column-end: 5;

    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows:100px 700px; 
    background-color:#833161;
    column-gap: 40px;
    
   }

   .project_header{
    grid-column-start: 1;
    grid-column-end: 7;
    background-color:#833161;
    color: #000;
    font-size: 40px;
    font-weight:bold;
    padding-top: 0px;
    padding-left: 3px;

   }

   .project1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #000;
    border: 3px;
    height: 470px;
    margin-left: 20px;
    position: relative;
    color:#ea96c8;
    box-shadow: 0 8px 16px 0 #ea96c8;
    box-shadow: 0 8px 16px 0 rgb(228, 149, 216);
    border-radius: 10%;
    text-align: center;
    padding: 0px 40px;

   }
   .project2{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #000;
    border: 3px;
    height: 470px;
    position: relative;
    color:#ea96c8;
    box-shadow: 0 8px 16px 0 #ea96c8;
    box-shadow: 0 8px 16px 0 rgb(228, 149, 216);
    border-radius: 10%;
    text-align: center;
    padding: 0px 40px;

   }
   .project3{
    grid-column-start: 5;
    grid-column-end: 7;
    background-color: #000;
    border: 3px;
    height: 470px;
    margin-right: 20px;
    position: relative;
    color:#ea96c8;
    box-shadow: 0 8px 16px 0 #ea96c8;
    box-shadow: 0 8px 16px 0 rgb(228, 149, 216);
    border-radius: 10%;
    text-align: center;
    padding: 0px 40px;

   }

   /* -------refrences-------- */

   .refrences{

    grid-column-start: 1;
    grid-column-end: 5;

    display: grid;
    grid-template-columns: repeat(6,13%);
    grid-template-rows:100px 700px; 
    background-color:#833161;
    column-gap: 55px;
    padding: 20px;


   }
   .refrence_header{

    color: #000;
    font-size: 35px;
    padding-top: 0px;
    font-weight: bold;
    text-align: center;
}

   .refrence1{

    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #000;
    border: 3px;
    height: 270px;
    margin-left: 20px;
    position: relative;
    color:antiquewhite;
    box-shadow: 0 8px 16px 0 #ea96c8;
    box-shadow: 0 8px 16px 0 rgb(228, 149, 216);
    border-radius: 10%;
    text-align: center;
    padding: 0px 40px;

   }

   .refrence2{

    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #000;
    border: 3px;
    height: 270px;
    margin-left: 20px;
    position: relative;
    color:antiquewhite;
    box-shadow: 0 8px 16px 0 #ea96c8;
    box-shadow: 0 8px 16px 0 rgb(228, 149, 216);
    border-radius: 10%;
    text-align: center;
    padding: 0px 40px;
   }

   .refrence3{
    grid-column-start: 5;
    grid-column-end: 7;
    background-color: #000;
    border: 3px;
    height: 270px;
    margin-left: 20px;
    position: relative;
    color:antiquewhite;
    box-shadow: 0 8px 16px 0 #ea96c8;
    box-shadow: 0 8px 16px 0 rgb(228, 149, 216);
    border-radius: 10%;
    text-align: center;
    padding-right:40px;
   }


   .ref_img{

    border-radius: 50%;
   }

   /* --------footer------- */
   .footer{

    grid-column-start: 1;
    grid-column-end: 5;

    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows:200px ;
    background-color:#151415;
    gap: 0px;
    
   }

   .foot1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #000;
    padding-left: 30px;
    color:antiquewhite;
    
   }
   .foot2{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #000;
    color:antiquewhite;
   }
   .foot3{
    grid-column-start: 5;
    grid-column-end: 7;
    background-color: #000;
   
    color:antiquewhite;
   }

   .foot1 p{
    font-size: 20px;
   }

   @media screen and (min-width:480px) and (max-width:768px) {

    .grid{
        display: grid;
        grid-template-columns:repeat(4,25%);
        row-gap: 00px;
        grid-template-rows:repeat(10,auto);
        /* justify-content: stretch; */
    }
    .home_name{
        grid-column-start: 1;
        grid-column-end: 5;
        background-image:url("picture/my_pic_bg_black3.png") ;
        background-repeat: no-repeat;
        
       
    
    }
    .home_name p{

   
        padding-top: 120px;
        padding-left: 0px;
        margin-left: 0px;;
        
    }
    .home_name h4,.home_name h2{
        
        margin:0px;
        padding-right: 150px;
    }
    .home_name h2{
        font-size: 50px;
    }
    .home_picture{
        grid-column-start: 1;
        grid-column-end: 5;

    
   }
   .btn1{
    margin-right: 200px;
   }
   .home_picture img{
   display: none;
}

   .about_text{
    grid-column-start: 1;
    grid-column-end: 5;
   
    padding-right: 50px;

}


.about_image{

    grid-column-start: 1;
    grid-column-end: 5;
}

.education_text{

    grid-column-start: 1;
    grid-column-end: 5;
  
}

.education_image{

    grid-column-start: 1;
    grid-column-end: 5; 
    
  
}

.education_text p{
    padding-top: 100px;
    padding-left: 40px;
    font-size: 20px;
}

.about_image img{
    /* margin-top: 0px; */
    width:400px;
    height: 400px;
    margin-bottom: 100px;
}



  .card1{
  grid-column-start: 1;
  grid-column-end: 7;
  /* margin-bottom: 150px; */

 margin-left: 50px;
 width: 80%;
 /* margin-top: 200px; */

  /* margin-top: 100px;
  width: 80%; */
   

  }
   .card1 img{

    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 3px;
    left: 130px;

   }

   .card2{
    grid-column-start: 1;
    grid-column-end: 7;
       width: 80%;
      height: 450px; 
      margin-left: 50px;
      margin-bottom: 300px;
     } 

   .card2 img{

    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 3px;
    left: 150px;
   }

   .project{
   

    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows:auto auto auto;
    background-color:#833161;
    column-gap: 40px;
   }

   .project1{
    grid-column-start: 1;
    grid-column-end: 4;
   }

   .project2{
    grid-column-start: 4;
    grid-column-end: 7;
   }

   .project3{
    grid-column-start: 1;
    grid-column-end: 7;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.refrences{

   
    grid-template-rows:auto auto auto auto; 
    background-color:#833161;
    column-gap: 20px;
   
    


   }


   .refrence1{

    grid-column-start: 1;
    grid-column-end: 3;
    width: 200px;
    font-size: 13px;
    
    

   }

   .refrence2{

    grid-column-start: 5;
    grid-column-end: 3;
    width: 200px;
    font-size: 13px;
    

    
   }

   .refrence3{
    grid-column-start: 5;
    grid-column-end: 7;
    width: 200px;
    font-size: 13px;
    text-align: center;
  
   }
}


@media screen and (max-width:480px)  {

    .grid{
        display: grid;
        grid-template-columns:repeat(4,25%);
        row-gap: 00px;
        grid-template-rows:repeat(10,auto);
        /* justify-content: stretch; */
    }
    .home_name{
        grid-column-start: 1;
        grid-column-end: 5;
        background-image:url("picture/my_pic_bg_black3.png") ;
        background-repeat: no-repeat;
        
       
    
    }
    .home_name p{

   
        padding-top: 120px;
        padding-left: 0px;
        margin-left: 0px;;
        
    }
    .home_name h4,.home_name h2{
        
        margin:0px;
        padding-right: 150px;
    }
    .home_name h2{
        font-size: 50px;
    }
    .home_picture{
        grid-column-start: 1;
        grid-column-end: 5;

    
   }
   .btn1{
    margin-right: 200px;
   }
   .home_picture img{
   display: none;
}

   .about_text{
    grid-column-start: 1;
    grid-column-end: 5;
   
    padding-right: 50px;

}


.about_image{

    grid-column-start: 1;
    grid-column-end: 5;
}

.education_text{

    grid-column-start: 1;
    grid-column-end: 5;
  
}

.education_image{

    grid-column-start: 1;
    grid-column-end: 5; 
    
  
}

.education_text p{
    padding-top: 100px;
    padding-left: 40px;
    font-size: 20px;
}

.about_image img{
    /* margin-top: 0px; */
    width:400px;
    height: 400px;
    margin-bottom: 100px;
}



  .card1{
  grid-column-start: 1;
  grid-column-end: 7;
  /* margin-bottom: 150px; */

 margin-left: 50px;
 width: 80%;
 /* margin-top: 200px; */

  /* margin-top: 100px;
  width: 80%; */
   

  }
   .card1 img{

    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 3px;
    left: 130px;

   }

   .card2{
    grid-column-start: 1;
    grid-column-end: 7;
       width: 80%;
      height: 450px; 
      margin-left: 50px;
      margin-bottom: 300px;
     } 

   .card2 img{

    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 3px;
    left: 150px;
   }

   .project{
  

    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows:auto auto auto;
    background-color:#833161;
    column-gap: 40px;
   }
   .project_header{
    grid-column-start: 1;
    grid-column-end: 7;
   }
   .project1{
    grid-column-start: 1;
    grid-column-end: 7;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
   }

   .project2{
    grid-column-start: 1;
    grid-column-end: 7;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
   }

   .project3{
    grid-column-start: 1;
    grid-column-end: 7;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.refrences{

   
    grid-template-rows:auto auto auto auto; 
    background-color:#833161;
    column-gap: 30px;
   
    


   }


   .refrence1{

    grid-column-start: 1;
    grid-column-end: 7;
    width: 200px;
    font-size: 13px;
    
    

   }

   .refrence2{

    grid-column-start: 1;
    grid-column-end: 7;
    width: 200px;
    font-size: 13px;
    

    
   }

   .refrence3{
    grid-column-start: 1;
    grid-column-end: 7;
    width: 200px;
    font-size: 13px;
    text-align: center;
  
   }
    
   }